%footer.footer-index.padded.justify-middle.-m-p0
	.f-copyright
		%p © PROHOLZ, 2002–2014
		%p.fc-address Москва, Рублевское шоссе, БЦ&nbsp;"Колизей", офис 404
	.f-studio
		%a.f-link.-d{href: "http://studio-v.ru", target: "_blank"} Создание сайта
		%a.f-logo.-d{href: "http://studio-v.ru", target: "_blank"}
		%a.f-m-logo.-m{href: "http://studio-v.ru", target: "_blank"} 2015