.overlay.overlay-gallery
	.gallery-container
		%span.gallery-prev-underlay
		%span.gallery-next-underlay
		.gallery-image
			%section.og-counter
				%span.og-current 2
				\/
				%span.og-total 4
			.gallery-prev
				%span
			.gallery-next
				%span
	%span.og-hide{title: "Закрыть просмотр"}