!!!
%html{data: {modules: "inner"}}
	=Haml::Engine.new(File.read("src/haml/_head.haml")).render(Object.new, title: "О компании")
	%body.inner
		.page
			.page-bg
				.pb-image.fit-bg
					%img{src: "images/index_bg_blurred.jpg", alt: ""}
				.pb-overlay
			.page-content
				.pc-inner
					=Haml::Engine.new(File.read("src/haml/_header.haml")).render
					%main
						.container-fixed.padded
							=Haml::Engine.new(File.read("src/haml/_breadcrumbs.haml")).render
							%h1 О компании
							%article
								%p Компания ProHolz (ООО "ПроХольц") работает на рынке деревянного домостроения в России с 2006г. Основное направление деятельности нашей компании - проектирование, производство, поставка и строительство деревянных домов из финского клееного бруса и финского клееного бревна. Мы профессионально занимаемся строительством и стараемся предлагать нашим клиентам только лучшее.
								%p Домокомплекты от компании ProHolz производятся компанией Honkamajat Finland Ltd., одной из ведущих в данном сегменте деревянного малоэтажного строительства фирмой. Поставляемые дома комплектуются окнами и дверями от всемирно известных финских компаний ProFin и JELD-WEN, высококачественными и надежными лестницами Lappiporras (Финляндия), эксклюзивными точеными компонентами из древесины (деревянные колонны, перила и поручни, декоративные шары) от финского производителя  Sorvi-Pojat Oy.
								%p В компании ProHolz работают только высококвалифицированные бригады строителей. Наши прорабы неоднократно производили шефмонтаж объектов в США, Финляндии, Черногории и Франции. Архитектурное бюро - группа талантливых архитекторов и конструкторов, способных предложить Вам новые идеи и воплотить в жизнь Ваши пожелания.
								.info-block.columns-3
									-(1..2).each do |i|
										%figure
											%img{src: "images/pr_0#{i}.jpg", alt: ""}
								%h2 Строим, как в Финляндии
								%p Компания ProHolz строит дома так, как это принято в Финляндии. Делаем мы это не потому, что основным материалом для строительства в нашей компании являются финский клееный брус и финское клееное бревно, а потому что финское качество строительства давно стало показательным. Качественный, долговечный, экологичный, практичный - вот основные эпитеты, применяемые к финским деревянным домам. Чтобы понять, почему именно так характеризуются финские деревянные дома, необходимо провести краткий экскурс в историю и внимательно оценить современную финскую действительность.
								%p До середины ХХ века в Финляндии строились преимущественно деревянные дома. Исторически сложилось так, что в Финляндии принято строить для себя, а не на продажу. Эти обстоятельства привели к тому, что в Финляндии накоплен огромный опыт качественного деревянного домостроения. Домовладелец обязательно принимал непосредственное участие в строительстве дома, так как строил для себя и своей семьи.
								%p Все, что производит сегодня промышленность Финляндии, во всем мире считается эталоном качества - масло Valio, замки Abloy, телефоны Nokia, резина Nokian и т. д. Ну и конечно, деревянные дома. Экспорт этой продукции по всему миру говорит сам за себя, являясь лучшим показателем качества и востребованности продукции. Страны, закупающие финские деревянные дома, расположены на всех континентах и в разных климатических зонах.
								%p Строгий контроль качества, присущий финским материалам и нормам строительства - вот то, что является основным приоритетом в работе компании ProHolz.
							.about-advantages
								%h2 Что Вы получите, разместив заказ на строительство<br>деревянного дома с компанией ProHolz
								.columns-2
									%div
										-["Профессиональное проектирование - от традиционного в деревянном домостроении до концептуального.", "Высокачественные материалы от финских и&nbsp;австрийских производителей - опыт производства домокомплектов 45 лет.", "Оптимальное соотношение параметров <span class='wsnw'>цена-качество</span> - цена за 1 м<sup>2</sup> от 40 000р.", "Сервисное обслуживание домовладения."].each do |i|
											%article.aa-item= i
									%div
										-["Заказ домокомплекта из Европы, производство, доставка, таможенная очистка&nbsp;-&nbsp;ОДИН МЕСЯЦ с момента подписания договора.", "Гарантия на строительные материалы из Финляндии - 50 лет. Гарантия на <span class='wsnw'>строительно - монтажные</span> работы - 2 года.", "Профессиональный подход компании ProHolz опыт строительства деревянных домов 12 лет."].each do |i|
											%article.aa-item= i
						.info-block.tac.padded
							%h3 По всем вопросам Вы можете позвонить нам по телефону
							%br
							%h2 +7 (495) 978-85-75
						.next-page
							%em Далее
							%a{href: ""} Производство
				=Haml::Engine.new(File.read("src/haml/_footer_inner.haml")).render
			=Haml::Engine.new(File.read("src/haml/_search.haml")).render
			=Haml::Engine.new(File.read("src/haml/_m_menu.haml")).render