!!!
%html{data: {modules: "index"}}
	=Haml::Engine.new(File.read("src/haml/_head.haml")).render(Object.new, title: "Index")
	%body.index
		.page
			.page-bg
				.pb-image.fit-bg
					%img{src: "images/index_bg.jpg", alt: ""}
				.pb-video.fit-video.-d
					%video{loop: true, muted: true}
						%source{src: "video/bg_video.mp4", type: "video/mp4"}
				.pb-overlay
			.page-content
				.pc-inner-index
					=Haml::Engine.new(File.read("src/haml/_header.haml")).render
					.index-pages.container.padded
						.ip-item.ip-0
							.ip-title
								%h1 Строительство домов<br> из&nbsp;финского клееного бруса
								.ip-links
									%a{href: ""} Галерея работ
									%a.ipl-video{href: ""} Видео производства
							.ip-news
								.ipn-tabs
									%a{href: "#ipn-0"} Cобытия
									%a{href: "#ipn-1"} Новости
								.ipn-tabs-container
									.ipn-slider#ipn-0
										.ipn-container
											.ipn-slide
												%p
													%a{href: ""} Компания Oy Honkamajat Finland Ltd заключила дилерские договора
													в городах Ижевск, Казань, Сургут, Тюмень и Симферополь.
											.ipn-slide
												%p
													%a{href: ""} Honkamajat Finland Ltd Компания Oy
													дилерские договора заключила в городах Сургут, Тюмень и Симферополь Ижевск, Казань
											.ipn-slide
												%p
													%a{href: ""} Компания Oy Honkamajat Сургут
													договора заключила в городах Тюмень и Симферополь Finland Ltd дилерские Ижевск, Казань
										.ipn-nav
									.ipn-slider#ipn-1
										.ipn-container
											.ipn-slide
												%p
													%a{href: ""} Honkamajat Finland Ltd Компания Oy
													дилерские договора заключила в городах Сургут, Тюмень и Симферополь Ижевск, Казань
											.ipn-slide
												%p
													%a{href: ""} Компания Oy Honkamajat Finland Ltd заключила дилерские договора
													в городах Ижевск, Казань, Сургут, Тюмень и Симферополь.
											.ipn-slide
												%p
													%a{href: ""} Компания Oy Honkamajat Сургут
													договора заключила в городах Тюмень и Симферополь Finland Ltd дилерские Ижевск, Казань
										.ipn-nav
						.ip-item.ip-1
							.ip-slider
								%span.ip-prev
								%span.ip-next
								.ip-container
									-(1..2).each do
										.ip-slide.valign
											.ip-inner
												%figure
													%img{src: "images/ip_00.png", alt: ""}
												%figcaption
													%article.js-ignore
														%h1 Домокомплекты деревянных домов из Финляндии
														%p Те, кто сталкивался со строительством загородного дома, знают, насколько непростой и длительный это процесс. Домокомплекты деревянных домов из клееного бруса и клееного бревна позволяют существенно сократить временные и финансовые затраты на строительство.
														%p Речь идет о полностью готовых комплектах из клееного бруса и клееного бревна, которые производятся в заводских условиях и устанавливаются в кратчайшие сроки. Стоит отметить значительное упрощение монтажа, а также точное соблюдение размеров всех составляющих конструкции в процессе автоматизированного производства деталей.
														%p Нашей компанией предлагаются дома из Финляндии, от ведущего производителя OY HONKAMAJAT FINLAND. Мы обеспечиваем производство, доставку, таможенное оформление, строительно-монтажные, отделочные и инженерные работы. Кроме того, мы проектируем домовладения любой сложности как "с нуля", так и адаптируем любой существующий проект деревянного дома в соответствии с Вашими пожеланиями.
										.ip-slide.valign
											.ip-inner
												%figure
													%img{src: "images/ip_01.png", alt: ""}
												%figcaption
													%article.js-ignore
														%h1 Особенности финского клееного бруса
														%p Клееный брус и клееное бревно не зря сегодня считают идеальными строительными материалами.
														%p Технология производства клееного бруса и клееного бревна обеспечивает минимальный уровень влажности, который составляет порядка 10-12%, что существенно снижает риск рассыхания и растрескивания древесины. Кроме того, дома из клееного бруса и клееного бревна практически не усаживаются, стены не деформируются с течением времени, а также не утрачивают своей прочности под влиянием природных факторов.
														%p Одним из наиболее популярных предложений на рынке строительства элитных деревянных домов является финский и австрийский клееный брус.
														%p Среди отличительных особенностей австрийского клееного бруса (стенового) стоит отметить его размер, который может достигать 300х300 мм, что дает возможность значительно повысить уровень теплосбережения и несущие способности, улучшить визуальный эффект интерьера и экстерьера домовладения, а также существенно сократить сроки строительных работ.
								.ip-nav
							=Haml::Engine.new(File.read("src/haml/_footer_index.haml")).render
					.index-splash.valign.-d{title: "Нажмите, чтобы скрыть"}
						%div
							%header Официальный представитель<br>OY HONKAMAJAT FINLAND в России
							%figure
								%img{src: "images/logo_large.png", alt: "", width: 941, height: 165}
							%p Поставка и строительство домов<br>из финского клееного бруса
			=Haml::Engine.new(File.read("src/haml/_search.haml")).render
			=Haml::Engine.new(File.read("src/haml/_m_menu.haml")).render