!!!
%html{data: {modules: "inner"}}
	=Haml::Engine.new(File.read("src/haml/_head.haml")).render(Object.new, title: "Финский клееный брус")
	%body.inner
		.page
			.page-bg
				.pb-image.fit-bg
					%img{src: "images/index_bg_blurred.jpg", alt: ""}
				.pb-overlay
			.page-content
				.pc-inner
					=Haml::Engine.new(File.read("src/haml/_header.haml")).render
					%main
						.container-fixed.padded
							=Haml::Engine.new(File.read("src/haml/_breadcrumbs.haml")).render
							%h1 Финский клееный брус
							.mats-item
								%article
									%h2 Финские материалы
									%p Клееный брус - лучший материал для строительства современного деревянного дома. Клееный профилированный брус - сочетание современных технологий с традиционными формами. Клееный брус позволяет избежать многих трудностей, связанных с использованием материалов из массива дерева.
									%br
									%h2 Технология производства клееного бруса
									%p
										%iframe{width: 420, height: 315, src: "https://www.youtube.com/embed/o6M9NSzG8hM", frameborder: 0, allowfullscreen: true}
									%p Клееный брус производят методом склеивание ламелей. Количество ламелей выбирают в зависимости от сечения бруса. Сейчас широкое распространение получило склеивание ламелей из разных пород дерева, так для наружных ламелей можно использовать древесину из кедра или лиственницы, а внутри оставить сосну.
									%p Для склеивания ламелей используют специальные пресса. Клей экологически чистый, не вызывающий аллергичиских реакций
									%br
									%h2 Профили клееного бруса
									%br
									%p
										%img{src: "images/mi_00.jpg", alt: ""}
										%em Высота — от 169 до 240мм, толщина — от 70 до 240мм, D-профиль
								.mi-figure
									%header
										%h2 Дома из клееного бруса можно разделить на три категории, в зависимости от категории выбрать сечение клееного бруса
									%figure
										%img.-d{src: "images/mif_00.png", alt: ""}
										.mif-note.mif-1
											%strong Летний дом
											%p сечение от 90 мм до 140 мм
										.mif-note.mif-2
											%strong Дачный дом, сезонное проживание, возможность выезда в зимнее время
											%p сечение от 160 мм до 180 мм
										.mif-note.mif-3
											%strong Дом для круглогодичного проживания
											%p от 200мм до 240мм
								%article
									%p Такое разделение, прежде всего, сделано для экономии ваших средств. Так толстые стены в доме для постоянного проживания помогут сэкономить деньги на отоплении, а тонкие стены в летнем домике существенно сократят кубатуру стен, по-этому стоимость будет ниже.
									%p При необходимости мы сможем сделать дополнительное утепление стен. Для этого изготавливается вентилируемый фасад, утепленный базальтовым утеплителем и обшитый имитацией бруса.
									%br
									%h2 Преимущества домов из клееного бруса
									.columns-3
										.c-1
											%ul.list
												-["Кратчайшие сроки возведения стенового комплеaкта", "Возможность выполнения больших пролетов без дополнительных точек опор ", "Лучшая теплоизоляция стен из клееного бруса, по сравнению со стенами из кирпича"].each do |i|
													%li= i
										.c-2
											%ul.list
												-["Не дает усадку", "Не растрескивается", "Клееный брус натуральный дышащий материал"].each do |i|
													%li= i
										.c-3
											%ul.list
												-["Экономия затрат на фундаментные работы, за счет меньшего веса стен из клееного бруса по сравнению со стенами из кирпича"].each do |i|
													%li= i
								.info-block.tac
									%h3 По всем вопросам Вы можете позвонить нам по телефону
									%br
									%h2 +7 (495) 978-85-75
				=Haml::Engine.new(File.read("src/haml/_footer_inner.haml")).render
			=Haml::Engine.new(File.read("src/haml/_search.haml")).render
			=Haml::Engine.new(File.read("src/haml/_m_menu.haml")).render

