!!!
%html{data: {modules: "inner"}}
	=Haml::Engine.new(File.read("src/haml/_head.haml")).render(Object.new, title: "Материалы")
	%body.inner
		.page
			.page-bg
				.pb-image.fit-bg
					%img{src: "images/index_bg_blurred.jpg", alt: ""}
				.pb-overlay
			.page-content
				.pc-inner
					=Haml::Engine.new(File.read("src/haml/_header.haml")).render
					%main
						.container-fixed.padded
							=Haml::Engine.new(File.read("src/haml/_breadcrumbs.haml")).render
							%h1 Материалы
							.mats
								.m-item
									%h2.flag.flag-fin Финские материалы
									.m-list
										-["Финский клееный брус", "Финское бревно массив", "Финское клееное бревно", "Финскиий клееный брус D-профиль"].each_with_index do |i, j|
											%a.ml-item{href: ""}
												%figure
													%img{src: "images/m_0#{j}.jpg", alt: ""}
												%figcaption= i
								.m-item
									%h2.flag.flag-rus Российские материалы
									.m-list
										-["Рубленное бревно", "Профилированный брус", "Российский клееный брус", "Оцилиндрованное бревно"].each_with_index do |i, j|
											%a.ml-item{href: ""}
												%figure
													%img{src: "images/m_0#{j + 4}.jpg", alt: ""}
												%figcaption= i
								.info-block
									%article
										%h2 Как выбрать материал для дома
										%p К нам часто обращаются с вопросом - из какого материала построить свой деревянный дом? Да, выбор действительно велик - клееный брус (пр-во Финляндия), клееное бревно (пр-во Финляндия), профилированный массивный брус камерной сушки (пр-во Финляндия),  клееный брус, рубленное и оцилиндрованное бревно - северный лес, ценные породы древесины (пр-во Россия). Наш совет - изучите преимущества и недостатки каждого материала, решите для себя, что Вам больше нравится визуально и что оптимально подходит выбранному Вами проекту под застройку. Делая сравнительную характеристику материалов, обратите внимание на ряд основных показателей - технологические и эксплуатационные характеристики, теплопроводность при различных сечениях, скорость монтажа того или иного стенового материала, стоимость на м2 или м3. Это основное, а в нюансах Вам помогут разобраться специалисты.
										%p При этом не менее важный фактор, а зачастую и определяющий - это выбор производителя стенового материала и компании-застройщика. Компания ProHolz работает с надежными европейскими поставщиками домокомплектов, имеет собственную базу для производства домов ручной рубки в Московской области и тесно сотрудничает с лесозаготовительным деревообрабатывающим производством в г. Иркутск (Россия).
								.tac
									%h3 По всем вопросам Вы можете позвонить нам по телефону
									%br
									%h2 +7 (495) 978-85-75
				=Haml::Engine.new(File.read("src/haml/_footer_inner.haml")).render
			=Haml::Engine.new(File.read("src/haml/_search.haml")).render
			=Haml::Engine.new(File.read("src/haml/_m_menu.haml")).render

