!!!
%html{data: {modules: "inner"}}
	=Haml::Engine.new(File.read("src/haml/_head.haml")).render(Object.new, title: "Производство клееного бруса в Финляндии")
	%body.inner
		.page
			.page-bg
				.pb-image.fit-bg
					%img{src: "images/index_bg_blurred.jpg", alt: ""}
				.pb-overlay
			.page-content
				.pc-inner
					=Haml::Engine.new(File.read("src/haml/_header.haml")).render
					%main
						.container-fixed.padded
							=Haml::Engine.new(File.read("src/haml/_breadcrumbs.haml")).render
							%h1 Производство клееного бруса в Финляндии
							%article
								%h2 Технология производства финского клееного бруса
								%p Производство клееного бруса для строительства домов в Финляндии осуществляется в несколько этапов и выполняется в заводских условиях на современном оборудовании, что позволяет контролировать качество изготовления всех элементов домокомплекта и добиться максимально точной подгонки деталей.
								%p На начальном этапе производства осуществляется тщательный отбор древесины. Для изготовления финского бруса используется в основном древесина хвойных пород, и самым популярным материалом является северная сосна благодаря ее плотной структуре и природной эстетике. Древесина сосны прочная, сухая и устойчивая к низким температурам, что позволяет избежать рассыхания, растрескивания и деформации бруса в процессе длительной эксплуатации.
								%p Следующий этап производства финского бруса включает в себя изготовление «грубых» заготовок путем распиливания бревен на доски.
								%p В связи с тем, что в природных условиях влажность древесины очень высокая, одним из основных этапов производства становится сушка заготовок в сушильных камерах, так как влажность готового бруса не должна превышать 10-12%. Высушенные заготовки также проходят процедуру отбора, в процессе которой удаляются поврежденные участки древесины. После просушки отборные заготовки подгоняются друг к другу, сращиваются до необходимой длины и склеиваются на специальных прессах с использованием высокотехнологичного водостойкого клея.
							.inline-gallery.clearfix
								%a.gallery-anchor{href: "http://youtu.be/fFccwsS9seg"}
									%img{src: "images/v_01.jpg", alt: ""}
								%h2{style: "font-weight: 300; font-size: 22px; line-height: 1.45"} На завершающем этапе производства выполняется профилирование – фрезерование со всех четырех сторон для повышения качества лицевых поверхностей и минимальной усадки, а также нарезание узловых соединений в соответствии с проектом.
						.white-bg
							.container-fixed.padded
								%article
									%h2 Производство домокомплектов из бруса
									%p Производство домокомплектов  в Финляндии производится из лучших, экологически чистых материалов на современных автоматических обрабатывающих линиях, где влияние человеческого фактора сведено к минимуму. Все это залогом того, что готовые изделия будут максимально устойчивыми к внешним факторам, приобретут высокие декоративные качества и не будут иметь внутренних и внешних дефектов.
									%p Линии по производству домокомплектов имеют многоступенчатый контроль качества, исключающий появление бракованных изделий. Качественный брус не только отличается высокой прочностью и стабильной геометрией, но и сохраняет свои декоративные свойства, что также немаловажно при выборе материала для строительства дома.
								%br
								.columns-3
									-(1..3).each do |i|
										%figure
											%img{src: "images/pr_0#{i}.jpg", alt: ""}
						.container-fixed.padded
							%article
								%h2 Особенности
								%p В настоящее время потребители деревянных домов предъявляют к основному компоненту такого типа домовладений – стеновому клееному брусу или  клееному бревну - самые высокие требования. Именно для решения подобного рода задач компания Makron Engineering Oy проектирует и изготавливает высококлассные станки и оборудование, предназначенные для производства домов из бруса и бревна.
								%p Автоматическое позиционирование заготовки и точные обрабатывающие блоки вместе с умной системой оптимизации сырья гарантируют высочайшее качество продукции.
								%p Основные преимущества деревообрабатывающего центра Logmatic (Makron Engineering Oy, Finland):
								%ul
									%li высокая точность и равномерное качество обработки;
									%li минимальное количество персонала/трудозатрат;
									%li CAD-проектирование и автоматизация линий делают возможным высокопроизводительное изготовление индивидуальных домов;
									%li минимальные потери сырья, благодаря программе оптимизации;
									%li возможность автоматического крепления кодирующих этикеток бревен;
									%li оптимизация упаковочных объемов, благодаря программе упаковки, позволяющей сокращать транспортные расходы, и облегчать работу на стройплощадке
								%p Makron Engineering Oy, Finland является ведущим европейским изготовителем оборудования и технологических линий для промышленного производства брусовых и бревенчатых домов. Неоспоримый имидж Makron основывается на значительном опыте проектирования и изготовления оборудования для нужд деревообрабатывающей промышленности, на инновативных технологических разработках и плотном сотрудничестве с всемирно известными финскими (и не только) производителями брусовых и бревенчатых домов.
								%p Особо хотелось бы обратить Ваше внимание на тот факт, что не все финские производители деревянных домов могут похвастаться оборудованием такого уровня. При этом компании, широко известные на мировом рынке деревянного домостроения, постоянно модернизируют собственные производства. Например, компания KONTIO в 2011г. приобрела и установила подобное оборудование на собственном производстве, а широко известная HONKA пока продолжает производить дома на оборудовании прошлого поколения.
							.info-block.tac
								%h3 По всем вопросам Вы можете позвонить нам по телефону
								%br
								%h2 +7 (495) 978-85-75
							.next-page
								%em Далее
								%a{href: ""} Производство
				=Haml::Engine.new(File.read("src/haml/_footer_inner.haml")).render
			=Haml::Engine.new(File.read("src/haml/_search.haml")).render
			=Haml::Engine.new(File.read("src/haml/_overlay_gallery.haml")).render
			=Haml::Engine.new(File.read("src/haml/_m_menu.haml")).render