%footer.footer
	.container.padded.justify
		.f-left
			%a.f-logo{href: "http://mon-arch.ru/", target: "_blank"}
				%img{src: "images/logo_monarch.png", alt: ""}
		.f-right
			.f-phones
				%p
					%span +7 495 234-00-11
					— Department of sales
				%p
					%span +7 495 234-00-11
					— Department of investments
			%a.f-studio{href: "http://studio-v.ru", target: "_blank"}

