%footer.footer
	.container.padded.justify
		.f-left
			%a.f-logo{href: "http://mon-arch.ru/", target: "_blank"}
				%img{src: "images/logo_monarch.png", alt: ""}
			.f-slider
				.fs-container
					%a.fs-item{href: ""}
						.fs-date 2015.03.21
						.fs-text Istokskiy is winner of MIPIM AWARDS 2015. Congratulations!
					%a.fs-item{href: ""}
						.fs-date 2015.03.21
						.fs-text Istokskiy is winner of MIPIM AWARDS 2015. Congratulations!
				%span.fs-prev
				%span.fs-next
		.f-right
			.f-phones-narrow.-n-ib
				.fpn-number
					%p +7 499 564-18-91
					%p +7 495 234-00-11
				%ul.fpn-tabs
					%li
						%span Sales
					%li
						%span Investments
			.f-phones-wide.-w-ib
				.fpw-item
					%p +7 495 234-00-11
					%span Department of sales
				.fpw-item
					%p +7 495 234-00-11
					%span Department of investments
			%a.f-studio{href: "http://studio-v.ru", target: "_blank"}

