%section.inner-overlay.io-gallery
	.gallery-container
		%header
			.dt
				.dtc.gallery-title
		.gallery-image
		%footer
			.dt
				.dtc.gallery-text
		%span.gallery-prev{title: "Previous image"}
			%span
		%span.gallery-next{title: "Next image"}
			%span
		%span.g-close{title: "Close"}