!!!
%html{data: {modules: "gallery"}}
	=Haml::Engine.new(File.read("src/haml/_head.haml")).render(Object.new, title: "Istokskiy")
	%body.inner
		.page-wrapper
			%main
				=Haml::Engine.new(File.read("src/haml/_header.haml")).render
				.content
					.container.padded.clearfix
						%aside.content-aside.right
							%h3 Other news
							-[["Nikkei sags to 4-week low as oil prices tumble; Abe win offers little respite", "Dec 12, 2014"], ["First Fire Used 350000 Years Ago", "Dec 11, 2014"], ["Study Shows: Currently 270000 Tons of Synthetic Material Floating in the Oceans", "Dec 3, 2014"], ["Astronomers locate pluto sized object in teenage galaxy", "Dec 7, 2014"], ["NASA Has Revealed Ancient Lake Evidence On Mars And New Images Of Saturn", "Sep 6, 2014"]].each_with_index do |i, j|
								%a.news-item{href: ""}
									%p= i[0]
									%span= i[1]
							%a{href: ""} All news
						%section.content-main
							.inner-slider.right.gallery
								.is-container
									%a.is-slide.fit-bg{href: "images/cool_slide.png", data: {gallery_title: "This slide only has a title", gallery_text: ""}}
										%img{src: "images/is_02.png", alt: ""}
									%a.is-slide.fit-bg{href: "images/is_01.png", data: {gallery_title: "Title for this slide", gallery_text: "Text is here as well"}}
										%img{src: "images/is_01.png", alt: ""}
									%a.is-slide.fit-bg{href: "images/is_02.png", data: {gallery_title: "But this slide has only title", gallery_text: ""}}
										%img{src: "images/is_02.png", alt: ""}
								.is-controls
									%span.is-prev
									%span.is-next
							%article
								%h2 Nikkei sags to 4-week low as oil prices tumble; Abe win offers little respite
								%p.date Dec 12, 2014
								%p.light Istoksky, being the brand new model of urban life elaborated for convenience of living, is one of the most attractive project for investments and business developing. Whoever you are: operator or end-used, solid developer.
								%p Bird-watchers in Massachusetts are beginning the annual Christmas Bird Count to collect data used by conservation biologists to study the long-term health and status of bird populations. This is the 115th year the bird count has been conducted. It will continue through Jan. 5. Each count takes place in an established 15-mile-wide diameter circle. There are 34 geographic circles where bird surveys are done in Massachusetts. When combined with other surveys, the Christmas Bird Count provides a picture of how bird populations have changed. Each count circle is coordinated by a count compiler who works with teams of volunteer birders to ensure that beginners are grouped with more experienced bird-watchers. (AP)
								%p Discover the wide range of investment offers and proposal below
				=Haml::Engine.new(File.read("src/haml/_inner_overlay.haml")).render
			=Haml::Engine.new(File.read("src/haml/_footer_inner.haml")).render